[package]
name = "env_logger"
version = "0.4.3" # remember to update html_root_url
authors = ["The Rust Project Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/sebasmagri/env_logger/"
documentation = "https://docs.rs/env_logger"
description = """
A logging implementation for `log` which is configured via an environment
variable.
"""
categories = ["development-tools::debugging"]
keywords = ["logging", "log", "logger"]
publish = false # this branch contains breaking changes

[dependencies]
log = { git = "https://github.com/rust-lang-nursery/log.git", features = ["std"] }
regex = { version = "0.2", optional = true }
termcolor = "*"

[[test]]
name = "regexp_filter"
harness = false

[features]
default = ["regex"]
