[package]
name = "env_logger"
version = "0.5.0-rc.1" # remember to update html_root_url
authors = ["The Rust Project Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/sebasmagri/env_logger/"
documentation = "https://docs.rs/env_logger"
description = """
A logging implementation for `log` which is configured via an environment
variable.
"""
categories = ["development-tools::debugging"]
keywords = ["logging", "log", "logger"]

[dependencies]
log = { version = "0.4.0-rc.1", features = ["std"] }
regex = { version = "0.2", optional = true }
termcolor = "0.3"
chrono = "0.4"

[[test]]
name = "regexp_filter"
harness = false

[features]
default = ["regex"]
