[package]
name = "env_logger"
version = "0.5.13" # remember to update html_root_url
authors = ["The Rust Project Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/sebasmagri/env_logger/"
documentation = "https://docs.rs/env_logger"
description = """
A logging implementation for `log` which is configured via an environment
variable.
"""
categories = ["development-tools::debugging"]
keywords = ["logging", "log", "logger"]

[maintenance]
status = "actively-developed"

[dependencies]
log = { version = "0.4", features = ["std"] }
regex = { version = "1.0.3", optional = true }
termcolor = "1"
humantime = "1.1"
atty = "0.2.5"

[[test]]
name = "regexp_filter"
harness = false

[[test]]
name = "log-in-log"
harness = false

[features]
default = ["regex"]
